@import 'variables';
@import 'header';
@import 'section';
@import 'section';
@import 'bots-section';
@import 'mybots';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
    
}

.text-center {
    .heading {
      font-size: 2rem;  // Sets the font size for the heading
      font-weight: bold;  // Makes the heading text bold
      color: $primary-color;  // Sets the text color to a dark shade
      margin-bottom: 10px;  // Adds space below the heading
    }
  
    p {
      font-size: 1.1rem;  // Sets the font size for the paragraph text
      color: #666;  // Sets the text color to a lighter shade of gray
      line-height: 1.5;  // Adjusts the line height for better readability
      max-width: 600px;  // Limits the width of the paragraph for better readability
      margin: 0 auto;  // Centers the paragraph within the container
      margin-bottom: 20px;  // Adds space below the paragraph
    }
  }
  

.main {
    max-width: 1200px;
    margin: 0 auto;
    
}

.main .container-fluid {
    flex: auto;
    align-items: end;
}